services:
  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - PUID=122
      - PGID=124
      - TZ=Africa/Johannesburg
      - WEBUI_PORT=8080
    volumes:
      - ./qbittorrent/config:/config
      - ./downloads:/downloads
    ports:
      - 8080:8080
      - 6881:6881
      - 6881:6881/udp
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=122
      - PGID=124
      - TZ=Africa/Johannesburg
    volumes:
      - ./radarr/config:/config
      - ./downloads:/downloads
      - /mnt/media/Movies:/movies
    ports:
      - 7878:7878
    depends_on:
      - qbittorrent
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=122
      - PGID=124
      - TZ=Africa/Johannesburg
    volumes:
      - ./bazarr/config:/config
      - ./downloads:/downloads
      - /mnt/media/Movies:/movies
      - /mnt/media/Series:/tv
    ports:
      - 6767:6767
    depends_on:
      - radarr
    restart: unless-stopped

  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    environment:
      - PUID=122
      - PGID=124
      - TZ=Africa/Johannesburg
    volumes:
      - ./jellyseerr/config:/app/config
    ports:
      - 5055:5055
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=122
      - PGID=124
      - TZ=Africa/Johannesburg
    volumes:
      - ./prowlarr/config:/config
    ports:
      - 9696:9696
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=122
      - PGID=124
      - TZ=Africa/Johannesburg
    volumes:
      - ./sonarr/config:/config
      - ./downloads:/downloads
      - /mnt/media/Series:/tv
      - /mnt/media/Anime:/anime
    ports:
      - 8989:8989
    depends_on:
      - qbittorrent
    restart: unless-stopped
